body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;

  width: 100%;
}

.visually-hidden {
  display: none;
}

.container-block {
  width: 940px;
  margin: auto;
}

a {
  text-decoration: none;
  /* display: inline-block; */
}

.main-header {
  background-color: #f3f7f8;

  padding-bottom: 60px;
}

.header-top {
  background-color: #293449;
  display: inline-block;

  display: flex;
  justify-content:space-between;

  position: relative;
}

.header-top-container {
  display: flex;
}

.header-logo {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  display: inline-block;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.order-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.product-search,
.order-navigation-item,
.order-navigation-link  {
  list-style: none;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.product-search::before {
  content: url("../img/icon-search.svg");
  position: absolute;
  top: 14px;
  left: 16px;
}

.product-search {
  background-color: #293449;
  display: inline-block;
  padding-left: 49px;

  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-search:hover {
  background-color: #212a3a;
}

.order-bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  padding-right: 13px;
}

.order-bookmarks {
  background-color: #293449;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  text-align: center;

  position: relative;
}

.order-bookmarks:hover {
  background-color: #212a3a;
}

.order-basket::before {
  content: url("../img/cart-icon.svg");

  padding-right: 17px;
}

.order-basket {
  background-color: #293449;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  text-align: center;

  position: relative;
}

.order-basket:hover {
  background-color: #212a3a;
}

.order-checkout {
  background-color: #63a63e;
  width: 150px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;
  text-align: center;
}

.order-checkout:hover {
  background-color: #5fbb2d;
}

.info-contact-user {
  display: flex;
  justify-content: space-between;

  margin-top: 46px;
  margin-bottom: 44px;
}

.description-shop {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin-left: 65px;
}

.contacts-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.number-shop::before {
  content: url("../img/icon-phone.svg");
}

.number-shop {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  height: 45px;
  text-align: center;
  margin: 0;
}

.address-shop {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
}

.user-navigation-entry {
  position: relative;
  width: 121px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 47px;
  margin-right: 10px;
  box-sizing: border-box;
}

.user-navigation-entry::before {
  content: url("../img/icon-login.svg");

  position: absolute;
  right: 86px;
}

.user-navigation-entry:hover {
  color: #ee3643;
}

.user-navigation-registration {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 14px;
  text-align: center;
}
.user-navigation-registration:hover {
  color: #ee3643;
}

.user-navigation-item,
.user-navigation-link {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation-entry {
  background-color: #ffffff;
  width: 121px;
  display: inline-block;
}

.user-navigation-registration {
  background-color: #ffffff;
  width: 150px;
  display: inline-block;
}

.account-link::before {
  content: url("../img/icon-user.svg");
  position: absolute;
}

.account-icon-link::after {
  content: url("../img/icon-logout.svg");
  position: absolute;
}

.account-link {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  position: relative;
  padding-left: 46px;
  padding-right: 70px;
  padding-top: 12px;
  padding-bottom: 14px;
}

.account-item {
  list-style: none;
}

.account-link a {
  color: #000000;
}

.user-navigation-account {
  display: flex;
  flex-wrap: wrap;
}

.user-navigation-account-list,
.user-navigation-account-link {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  display: inline-block;
  flex-wrap: wrap; /*?*/
}

.user-navigation-account-link:hover {
  color: #ee3643;
}

.site-navigation {
    display: flex;
    justify-content: center; /*?*/
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.site-navigation-item,
.site-navigation-link {
  list-style: none;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #32425c;
}

.site-navigation-item:first-child {
  padding-left: 52px;
}

.site-navigation-item:last-child {
  padding-right: 52px;
}

.site-navigation-item:hover {
  background-color: #293449;
}

.container {
  background-color: #ffffff;
  /* margin-top: 60px; */
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 8px;
  border-radius: 3px;
}

.division-catalog {
  padding-top: 60px;
}

.catalog-list { /* one two добавлять? */
  flex-wrap: wrap;
}

.catalog-list-one {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.slider-catalog {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 53px;
  align-items: center;
  justify-content: space-between;
}

.catalog-list-two {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-list {
  list-style: none;
}

.catalog-name {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 26px;
  padding-bottom: 15px;
}

.catalog-button {
  background-color: rgba(0, 0, 0, 0.2);
  width: 135px;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.catalog-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-name-and-button {
  /* margin-left: 25px; */
  margin: 0;
}

.catalog-item-material::after {
  content: url("../img/icon-materials.svg");
  position: absolute;
  left: 213px;
  bottom: 27px;
}

.catalog-item-material {
  color: #ffffff;
  background-color: #ffbf47;
  width: 300px;
  min-height: 123px;
  padding-left: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;

  position: relative;
}

.catalog-item-material a {
  color: #ffffff;
}

.catalog-item-tool::after {
  content: url("../img/icon-tool.svg");

  position: absolute;
  left: 197px;
  bottom: 29px;
}

.catalog-item-tool {
  color: #ffffff;
  background-color: #3bbce3;
  width: 300px;
  min-height: 123px;
  padding-left: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;

  position: relative;
}

.catalog-item-tool a {
  color: #ffffff;
}

.catalog-item-technology::after {
  content: url("../img/icon-technology.svg");

  position: absolute;
  left: 191px;
  bottom: 30px;
}

.catalog-item-technology {
  color: #ffffff;
  background-color: #dc91d8;
  width: 300px;
  min-height: 123px;
  padding-left: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;

  position: relative;
}

.catalog-item-technology a {
  color: #ffffff;
}

.catalog-slider {
  margin: 0;
  padding: 0;
  position: relative;
}

.catalog-slider::after {
  content: url("../img/slider-icon-left.svg");
  position: absolute;
  bottom: 104px;
}

.catalog-slider::before {
  content: url("../img/slider-icon-right.svg");
  position: absolute;
  top: 113px;
  left: 579px;
}

.catalog-slider-one {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  color: #ffffff;
  width: 620px;
  min-height: 266px;
  padding: 20px;
  box-sizing: border-box;

  display: none;
}

.catalog-slider-two {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  color: #ffffff;
  width: 620px;
  min-height: 266px;
  padding: 20px;
  box-sizing: border-box;
}

.catalog-slider-text-name {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Cuprum Bold", Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.catalog-slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
}

.button-catalog-slider {
  width: 195px;
  margin-top: 118px;
}

.button-catalog-slider:hover {
  background-color: #ca2c37;
}

.catalog-item-discounts::after {
  content: url("../img/icon-discount.svg");

  position: absolute;
  left: 196px;
  bottom: 25px;
}

.catalog-item-discounts {
  color: #ffffff;
  background-color: #8ed78f;
  width: 300px;
  min-height: 123px;
  padding-left: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;

  position: relative;
}

.catalog-item-discounts:not(last-child) {
  margin-bottom: 20px;
}

.catalog-item-discounts a {
  color: #ffffff;
}

.catalog-item-delivery::after {
  content: url("../img/icon-delivery.svg");

  position: absolute;
  left: 191px;
  bottom: 28px;
}

.catalog-item-delivery {
  color: #ffffff;
  background-color: #ffc047;
  width: 300px;
  min-height: 123px;
  padding-left: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;

  position: relative;
}

.catalog-item-delivery a {
  color: #ffffff;
}

.second-caption {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.goods-manufacturer-division {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-caption-goods-manufacturer {
  padding-left: 26px;
  padding-top: 29px;
  padding-bottom: 29px;
}

.button-goods-manufacturer {
  width: 253px;
  text-align: center;
  margin-right: 26px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.goods-block {
  padding-top: 20px;
  padding-bottom: 21px;
}

.goods-block-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.goods-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}

.goods-block-item:not(:last-child) {
  margin-right: 17px;
}

.price-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manufacturer-block-list {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.goods-manufacturer-division {
  background-color: #f9f5f0;
}

.second-caption-goods-manufacturer {
  color: #32425c;
}

.button-goods,
.button-manufacturer {
  width: 253px;
}

.goods-block-list,
.goods-block-item  {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

.goods-block-item {
  border: 1px solid #e5e5e5;
}

.through-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

.button-goods-item {
  font-family: "PT Sans Bold", Arial, sans-serif;
  width: 141px;
}

.manufacturer-block {
  padding-top: 20px;
  padding-bottom: 86px;
}

.manufacturer-block-item {
 width: 218px;
 min-height: 143px;
 margin-top: 0;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-left: 0;
 border: 1px solid #e5e5e5;
}

.manufacturer-block-item:nth-child(4n) {
  margin: 0;
  margin-bottom: 20px;
}

.manufacturer-block-item:hover {
  box-shadow: 10px 0 10px #000000;
}

.service-info {
  background-color: #f4f8f9;
}

.service-info-and-slider {
  position: relative;
}

.service-info-block {
  width: 400px;
  padding-top: 68px;
  padding-bottom: 70px;
}

.service-slider-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.service-caption {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.service-slider-delivery {
  width: 320px;
}

.service-slider-guarantee,
.service-slider-credit {
  display: none;
}

.slider-service {
  display: flex;
  padding: 0;

  margin-bottom: 102px;
}

.service-slider-info {
  background-color: #f4f7f9;
}

.specification-text {
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.service-slider-list,
.service-slider-item a{
  list-style: none;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-transform: none;
  font-family: "Cuprum Bold", Arial, sans-serif;
  margin: 0;
  padding-top: 13px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  border-radius: 0;
}

.slider-delivery-button {
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  display: inline-block;
}

.slider-delivery-button:hover {
  background-color: #293449;
}

.slider-guarantee-button {
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  display: inline-block;
}

.slider-guarantee-button:hover {
  background-color: #293449;
}

.slider-credit-button {
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  display: inline-block;
}

.slider-credit-button:hover {
  background-color: #293449;
}

.service-slider-info-list,
.service-caption {
  list-style: none;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  /* flex-wrap: wrap; или только в лист?*/
}

.service-slider-delivery::after {
  content: url("../img/delivery.png");

  position: absolute;
  left: 540px;
  bottom: 0;
}

.service-slider-guarantee::after {
  content: url("../img/guarantee.png");
}

.service-slider-credit::after {
  content: url("../img/credit.png");
}

.service-slider-text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans Regular", Arial, sans-serif;

  padding-bottom: 136px;
}

.service-credit-button {
  width: 195px;
}

.about-company-text {
  font-family: "PT Sans Regular", Arial, sans-serif;
  margin: 0;
  padding-top: 39px;
}

.transport-companies-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  flex-wrap: wrap;
}

.transport-companies-item {
  padding-bottom: 22px;
}

.company-and-contact {
  display: flex;

  margin: 0;
}

.about-company-block {
  flex-direction: column;
  margin-right: 90px;

  width: 550px;
}

.contact-info {
  flex-direction: column;
}

.button-about-company {
  width: 220px;
}

.map-location {
  font-family: "PT Sans Regular", Arial, sans-serif;
  padding-top: 37px;
  margin: 0;
}

.map-image {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 40px;
}

.button-map-feedback {
  width: 300px;
  margin-bottom: 86px;
}

.account-division {
  display: flex;
  flex-direction: column;
}

.user-navigation-account-list {
  display: flex;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 21px;
}

.breadcrumbs-home::before {
  content: url("../img/icon-home.svg");
}

.breadcrumbs-item {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
  padding-right: 40px;
}

.breadcrumbs-item a {
  color: #000000;
}

.division-name {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  width: 940px;

  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 30px;
  box-sizing: border-box;
}

.filter-sorting-goods {
  display: flex;
}

.filter-block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter-caption {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
  background-color: #f7f3ec;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.price-caption {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

.manufacturer-caption {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

input[checked] {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.food-caption {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

input[radio] {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
}

/* пишутся ли классы у инпутов */

.manufacturer-list,
.food-goods-list {
  display: flex;
  flex-direction: column;
}

/* .sorting-list {
  display: flex;
  flex-wrap: wrap;
} */

.sorting-caption-and-sorting-item {
  display: flex;
  flex-wrap: wrap;
}

.sorting-caption,
.sorting-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
  background-color: #f7f3ec;

  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.sorting-price a,
.sorting-type a,
.sorting-functional a  {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed;
  border-bottom-color: #ee3643;
}

.sorting-price a:hover,
.sorting-type a:hover,
.sorting-functional a:hover {
  color: #000000;
  border-bottom: none;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}


/*?*/
.sorting-arrow-top::before {
  content: url("../img/icon-sorting-top.svg")
}

.sorting-arrow-bottom::before {
  content: url("../img/icon-sorting-bottom.svg")
}

.goods-block-list {
  display: flex;
  flex-wrap: wrap;
}

.goods-block-item {
  display: flex;
  flex-direction: column;
}

.buy-goods::before {
  content: url("../img/cart-icon.svg");
}

.buy-goods {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  width: 135px;
  display: inline-block;
  text-align: center;
  box-shadow:
}

.buy-goods:hover {
  background-color: #5fbb2d;
}

.to-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  border: 2px solid #63a63e;
  width: 135px;
  display: inline-block;
  text-align: center;
}

.to-bookmarks:hover {
  border: 2px solid #000000;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap; /*?*/
}
/* .pagination-list, */
.pagination-item-button {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  width: 38px;
  border: 1px solid #e5e5e5;
}

.pagination-item-button-current {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item-button-next {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid#999999;
  width: 140px;
}

.goods-info {
  background-color: #f2f6f8;
  padding-top: 68px;
  padding-bottom: 70px;
}

.goods-text {
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.main-footer {
  background: #32425c;
  width: 100%px;
}

.logo-and-secondary-navigation {
  display: flex;
}

.secondary-navigation-info-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact-and-navigation-goods {
  display: flex;
  /* margin-bottom: 58px; */
}

.site-navigation-goods-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom,
.footer-copyright-item {
  display: flex;

  background-color: #293449;
  /* padding-top: 40px;
  padding-bottom: 35px; */
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  width: 220px;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 15px;
  margin: 0;
  margin-right: 170px;
}

.secondary-navigation-info-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
  padding-top: 36px;
}

.secondary-navigation-info-list a {
  color: #f3f7f9;
}

.site-navigation-info-link {
  padding-right: 60px;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  width: 330px;
  margin-right: 85px;
}

.site-navigation-goods-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.site-navigation-goods-list a {
  color: #ffd180;
}

.site-navigation-goods-link {
  padding-right: 60px;
}

.site-navigation-goods-link:nth-child(5n) {
  padding-right: 0;
}

.underline-text:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  margin-right: 162px;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 129px;
}

.social-item-vk,
.social-item-fb {
  padding-right: 25px;
}

.social-item-vk::before {
  content: url("../img/vk-icon.svg");
}

.social-item-fb::before {
  content: url("../img/fb-icon.svg");
}

.social-item-insta::before {
  content: url("../img/insta-icon.svg");
}

.feedback-info,
.developed-by {
 font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.yellow-text {
  color: #ffd180;
}

.yellow-text:hover {
  text-decoration: underline;
}

.modal {
  display: none;
}

/* .hidden-text {
text-indent: 500%;
white-space: nowrap;
overflow: hidden;
} */
