body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

header {
  background-color: #f3f7f8;
}

.header-logo {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  width: 220px;
  display: inline-block;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.order-navigation {
  background-color: #293449;
  width: 1280px;
  display: inline-block;
}

.product-search,
.order-navigation-item,
.order-navigation-link  {
  list-style: none;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.product-search::before {
  content: url("../img/icon-search.svg");
}

.product-search {
  background-color: #293449;
  width: 270px;
  display: inline-block;
}

.product-search:hover {
  background-color: #212a3a;
}

.order-bookmarks::before {
  content: url("../img/icon-bookmark.svg");
}

.order-bookmarks {
  background-color: #293449;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.order-bookmarks:hover {
  background-color: #212a3a;
}

.order-basket::before {
  content: url("../img/cart-icon.svg");
}

.order-basket {
  background-color: #293449;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.order-basket:hover {
  background-color: #212a3a;
}

.order-checkout {
  background-color: #63a63e;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.order-checkout:hover {
  background-color: #5fbb2d;
}

.description-shop {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.number-shop::before {
  content: url("../img/icon-phone.svg");
}

.number-shop {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  height: 45px;
  text-align: center;
}

.address-shop {
  font-size: 21px;
  line-height: 21px;
  color: #32425c;
}

.user-navigation-entry::before {
  content: url("../img/") /*вырезать вход*/
}

.user-navigation-entry:hover {
  color: #ee3643;
}

.user-navigation-registration:hover {
  color: #ee3643;
}

.user-navigation-item,
.user-navigation-link {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation-entry {
  background-color: #ffffff;
  width: 121px;
  display: inline-block;
}

.user-navigation-registration {
  background-color: #ffffff;
  width: 150px;
  display: inline-block;
}

.account-link::before {
  content: url("../img/icon-user.svg");
}

.account-icon-link::after {
  content: url("../img/icon-logout.svg");
}

.account-item,
.account-link {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  width: 299px;
}

.account-link a {
  color: #000000;
}

.user-navigation-account-list,
.user-navigation-account-link {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  display: inline-block;
}

.user-navigation-account-link:hover {
  color: #ee3643;
}

.site-navigation-item,
.site-navigation-link {
  list-style: none;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  width: 940px;
}

.site-navigation-index {
  background-color: #32425c;
  width: 120px;
  display: inline-block;
}

.site-navigation-index:hover {
  background-color: #293449;
}

.site-navigation-company {
  background-color: #32425c;
  width: 127px;
  display: inline-block;
}

.site-navigation-company:hover {
  background-color: #293449;
}

.site-navigation-catalog {
  background-color: #32425c;
  width: 109px;
  display: inline-block;
}

.site-navigation-catalog:hover {
  background-color: #293449;
}

.site-navigation-news {
  background-color: #32425c;
  width: 116px;
  display: inline-block;
}

.site-navigation-news:hover {
  background-color: #293449;
}

.site-navigation-special-offer {
  background-color: #32425c;
  width: 175px;
  display: inline-block;
}

.site-navigation-special-offer:hover {
  background-color: #293449;
}

.site-navigation-delivery {
  background-color: #32425c;
  width: 130px;
  display: inline-block;
}

.site-navigation-delivery:hover {
  background-color: #293449;
}

.site-navigation-contact {
  background-color: #32425c;
  width: 145px;
  display: inline-block;
}

.site-navigation-contact:hover {
  background-color: #293449;
}

.container {
  background-color: #ffffff;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

.catalog-list {
  list-style: none;
}

.catalog-name {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.catalog-button {
  background-color: rgba(0, 0, 0, 0.2);
  width: 135px;
  text-decoration: none;
  display: inline-block;
}

.catalog-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.catalog-item-material::after {
  content: url("../img/icon-materials.svg");
}

.catalog-item-material {
  color: #ffffff;
  background-color: #ffbf47;
  width: 300px;
  height: 123px;
}

.catalog-item-material a {
  color: #ffffff;
}

.catalog-item-tool::after {
  content: url("../img/icon-tool.svg");
}

.catalog-item-tool {
  color: #ffffff;
  background-color: #3bbce3;
  width: 300px;
  height: 123px;
}

.catalog-item-tool a {
  color: #ffffff;
}

.catalog-item-technology::after {
  content: url("../img/icon-technology.svg");
}

.catalog-item-technology {
  color: #ffffff;
  background-color: #dc91d8;
  width: 300px;
  height: 123px;
}

.catalog-item-technology a {
  color: #ffffff;
}
/*?псевдоэлементы*/
.catalog-slider::after {
  content: url("../img/slider-icon-left.svg");
}

.catalog-slider::before {
  content: url("../img/slider-icon-right.svg");
}

.catalog-slider-one {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  color: #ffffff;
  width: 620px;
  height: 266px;
}

.catalog-slider-two {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  color: #ffffff;
  width: 620px;
  height: 266px;
}

.catalog-slider-text-name {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Cuprum Bold", Arial, sans-serif;
}

.catalog-slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.btn,
.button-catalog-slider {
  width: 195px;
}

.button-catalog-slider:hover {
  background-color: #ca2c37;
}

.catalog-item-discounts::after {
  content: url("../img/icon-discount.svg");
}

.catalog-item-discounts {
  color: #ffffff;
  background-color: #8ed78f;
  width: 300px;
  height: 123px;
}

.catalog-item-discounts a {
  color: #ffffff;
}

.catalog-item-delivery::after {
  content: url("../img/icon-delivery.svg");
}

.catalog-item-delivery {
  color: #ffffff;
  background-color: #ffc047;
  width: 300px;
  height: 123px;
}

.catalog-item-delivery a {
  color: #ffffff;
}

.second-caption {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.second-caption-goods,
.second-caption-manufacturer {
  color: 32425c;
  background-color: #f9f5f0;
  width: 940px;
}

.btn,
.button-goods,
.button-manufacturer {
  width: 253px;
}

.goods-block-list,
.goods-block-item {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

.through-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

.btn,
.button-goods-item {
  font-family: "PT Sans Bold", Arial, sans-serif;
  width: 141px;
}

.manufacturer-block-list {
  list-style: none;
}

.manufacturer-block-item:hover {
  box-shadow: 10px 0 10px #000000;
}

.service-slider-info {
  background-color: #f4f7f9;
}

.specification-text {
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.service-slider-list,
.service-slider-item a{
  list-style: none;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-transform: none;
  font-family: "Cuprum Bold", Arial, sans-serif;
}

.slider-delivery-button {
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  display: inline-block;
}

.slider-delivery-button:hover {
  background-color: #293449;
}

.slider-guarantee-button {
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  display: inline-block;
}

.slider-guarantee-button:hover {
  background-color: #293449;
}

.slider-credit-button {
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  display: inline-block;
}

.slider-credit-button:hover {
  background-color: #293449;
}

.service-slider-info-list,
.service-caption {
  list-style: none;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-slider-delivery::after {
  content: url("../img/delivery.png");
}

.service-slider-guarantee::after {
  content: url("../img/guarantee.png");
}

.service-slider-credit::after {
  content: url("../img/credit.png");
}

.service-slider-text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.btn,
.service-credit-button {
  width: 195px;
}

.about-company-text {
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.transport-company-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.btn,
.button-about-company {
  width: 220px;
}

.map-location {
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.btn,
.button-map-feedback {
  width: 300px;
}

.breadcrumbs-home::before {
  content: url("../img/icon-home.svg");
}

.breadcrumbs-item {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.breadcrumbs-item a {
  color: #000000;
}

.division-name {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  width: 940px;
}

.filter-caption {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
  background-color: #f7f3ec;
  width: 220px;
}

.price-caption {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

.manufacturer-caption {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

input[checked] {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.food-caption {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Bold", Arial, sans-serif;
}

input[radio] {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
}

/* пишутся ли классы у инпутов */

.sorting-caption,
.sorting-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans Regular", Arial, sans-serif;
  background-color: #f7f3ec;
  width: 700px;
}

.sorting-price a,
.sorting-type a,
.sorting-functional a  {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed;
  border-bottom-color: #ee3643;
}

.sorting-price a:hover,
.sorting-type a:hover,
.sorting-functional a:hover {
  color: #000000;
  border-bottom: none;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}


/*?*/
.sorting-arrow-top::before {
  content: url("../img/icon-sorting-top.svg")
}

.sorting-arrow-bottom::before {
  content: url("../img/icon-sorting-bottom.svg")
}

.buy-goods::before {
  content: url("../img/cart-icon.svg");
}

.buy-goods {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  width: 135px;
  display: inline-block;
  text-align: center;
  box-shadow:
}

.buy-goods:hover {
  background-color: #5fbb2d;
}

.to-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  border: 2px solid #63a63e;
  width: 135px;
  display: inline-block;
  text-align: center;
}

.to-bookmarks:hover {
  border: 2px solid #000000;
}

.pagination-list,
.pagination-item-button {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  width: 38px;
  border: 1px solid#999999;
}

.pagination-item-button-current {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item-button-next {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid#999999;
  width: 140px;
}

.goods-info {
  background-color: #f2f6f8;
  width: 940px;
}

.goods-text {
  font-family: "PT Sans Regular", Arial, sans-serif;
}

.main-footer {
  background: #32425c;
  width: 1917px;
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  width: 220px;
  display: inline-block;
}

.secondary-navigation-info-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.secondary-navigation-info-list a {
  color: #f3f7f9;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.site-navigation-goods-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.site-navigation-goods-list a {
  color: #ffd180;
}

.site-navigation-info-company:hover,
.site-navigation-info-news:hover,
.site-navigation-info-catalog:hover,
.site-navigation-info-delivery:hover,
.site-navigation-info-contact:hover,
.site-navigation-goods-material:hover,
.site-navigation-goods-technology:hover,
.site-navigation-goods-tool:hover,
.site-navigation-goods-special-offer:hover {
  text-decoration: underline;
}

.footer-copyright-item {
  background-color: #293449;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-list {
  list-style: none;
}

.social-item-vk::before {
  content: url("../img/vk-icon.svg");
}

.social-item-fb::before {
  content: url("../img/fb-icon.svg");
}

.social-item-insta::before {
  content: url("../img/insta-icon.svg");
}

.feedback-info,
.developed-by {
 font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.yellow-text {
  color: #ffd180;
}

.yellow-text:hover {
  text-decoration: underline;
}

.goods-block-item:hover {

}

.header-top {
  display: flex;
}

.order-navigation {
  display: flex;
  align-items: center;
}

.info-contact-user {
  display: flex;
}

.user-navigation {
  display: flex;
}

.site-navigation {
  display: flex;
  justify-content: center;
}

.catalog-list-one {
  display: flex;
}

.slider-catalog {
  display: flex;
}

.goods-division {
  display: flex;
}

.button-goods {
  justify-content: flex-end;
}

.goods-block-list {
  display: flex;
}

.manufacturer-division {
  display: flex;
}

.button-manufacturer {
  justify-content: flex-end;
}

.manufacturer-block-list {
  display: flex;
}

.slider-service {
  display: flex;
}

.company-and-contact {
  display: flex;
}

.logo-and-secondary-navigation {
  display: flex;
}

.secondary-navigation-info-list {
  display: flex;
}

.footer-contact-and-navigation-goods {
  display: flex;
}

.site-navigation-goods-list {
  display: flex;
}

.footer-bottom {
  display: flex;
}

.social-list {
  display: flex;
}

.feedback-info,
.developed-by {
  display: flex;
}
